<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
    <a href="/recipes" class="grandmas-cookbook"><img src="https://i.imgur.com/TVS5gWO.png" alt="Grandma's Cookbook"></a>
    </div>

<%- include('./partials/footer') %>
