<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
    <a href="/recipes" class="grandmas-cookbook"><img src="/images/turn_page.png" class="home-page-img" alt="Grandma's Cookbook"></a>
    </div>

<%- include('./partials/footer') %>
