body {
  background-color: #37200b;
  color: white;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

.sidebar .close-button {
  position: absolute;
  top: 0;
  right: 1px;
  font-size: 36px;
}

.sidebar .close-button:hover {
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b4641a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

span {
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
  color: white;
  z-index: 2;
}

#main-body {
  transition: margin-left .5s;
  margin-left: 250px;
}

.grandmas-cookbook {
  display: block;
  text-align: center;
}

.h2-all-recipes {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
  margin-left: 200px;
}

.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 6px 7px 31px 11px rgba(0,0,0,0.59);
  -webkit-box-shadow: 6px 7px 31px 11px rgba(0,0,0,0.59);
  -moz-box-shadow: 6px 7px 31px 11px rgba(0,0,0,0.59);
  display: inline-block;
}

.table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: separate;
  border-spacing: 0 30px;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 20px;
  margin: 20px;
  border: 1px solid transparent;
}

.fl-table thead th {
  color: #ffffff;
  background: #743f0f;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #a75c17;
}

.fl-table tr:nth-child(even) {
  background: #412308;
}

.new-form-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1.5rem;
  background-color: #86892a;
  border-radius: 20px;
}

.new-form {
  margin-bottom: 2rem;
  text-align: center;
}

.form {
  align-self: center;
}

.form-label {
  font-size: 1rem;
  color: white;
  display: block;
}

.form-input {
  width: clamp(120px, 50vw, 420px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.625rem auto;
  transition: all 250ms;
  background-color:#8d4e13;
  color: white;
}

.form-textarea {
  font-size: 1rem;
  color: white;
  display: block;
  background-color: #8d4e13;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.625rem auto;
  transition: all 250ms;
}

.new-form-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  color:#b4641a
}

.new-form-button:hover {
  background-color: #b4641a;
  color: white;
  box-shadow: 6px 3px 18px -3px rgba(0,0,0,0.71);
  -webkit-box-shadow: 6px 3px 18px -3px rgba(0,0,0,0.71);
  -moz-box-shadow: 6px 3px 18px -3px rgba(0,0,0,0.71);
}

.selector {
  width: clamp(120px, 50vw, 150px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.625rem auto;
  transition: all 250ms;
  background-color:#8d4e13;
  color: white;
  margin-left: 140px;
}

.add-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  color:#b4641a;
  margin-left: 10px;
}

.add-button:hover {
  background-color: #b4641a;
  color: white;
  box-shadow: 6px 3px 18px -3px rgba(0,0,0,0.71);
  -webkit-box-shadow: 6px 3px 18px -3px rgba(0,0,0,0.71);
  -moz-box-shadow: 6px 3px 18px -3px rgba(0,0,0,0.71);
}

.add-container {
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1.5rem;
  background-color: #86892a;
  border-radius: 20px;
  margin-left: 160px;
}

.ratings-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1.5rem;
  background-color: #c53939;
  border-radius: 20px;
  margin-left: 120px;
}

.ratings-form {
  margin-bottom: 2rem;
  text-align: center;
}

.rate-form {
  align-self: center;
}

.ratings-textarea {
  font-size: 1rem;
  color: white;
  display: block;
  background-color: #ff6149;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.625rem auto;
  transition: all 250ms;
  height: 150px;
  width: 400px;
}

.h2-rating {
  margin-left: 350px;
}

.rating-selector {
  width: clamp(70px, 50vw, 50px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.625rem auto;
  transition: all 250ms;
  background-color:#ff6149;
  color: white;
  margin-left: 10px;
}

.rating-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  color:#c53939;
  margin-left: 10px;
}

.rating-button:hover {
  background-color: #922a2a;
  color: white;
  box-shadow: 6px 3px 18px -3px rgba(0,0,0,0.71);
  -webkit-box-shadow: 6px 3px 18px -3px rgba(0,0,0,0.71);
  -moz-box-shadow: 6px 3px 18px -3px rgba(0,0,0,0.71);
}

.ratings-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 6px 7px 31px 11px rgba(0,0,0,0.59);
  -webkit-box-shadow: 6px 7px 31px 11px rgba(0,0,0,0.59);
  -moz-box-shadow: 6px 7px 31px 11px rgba(0,0,0,0.59);
  display: inline-block;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-name {
  font-weight: bold;
}

.ratings-wrapper .no-reviews {
  margin-top: 20px;
  padding: 10px;
  box-shadow: none;
  margin-left: 30px;
  margin-right: 30px;
}

.h2-avail {
  margin-left: 180px;
}

.ingredient-container {
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1.5rem;
  background-color: #86892a;
  border-radius: 20px;
  margin-left: 50px;
}

.add-ingredient-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1.5rem;
  background-color: #c53939;
  border-radius: 20px;
}

.add-form {
  margin-bottom: 2rem;
  text-align: center;
}

.add-ingredient-form {
  align-self: center;
}

.ingredient-label {
  font-size: 1rem;
  color: white;
  display: block;
}

.ingredient-input {
  width: clamp(120px, 50vw, 420px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.625rem auto;
  transition: all 250ms;
  background-color:#ff6149;
  color: white;
}

.ingredient-measure {
  width: clamp(120px, 50vw, 300px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.625rem auto;
  transition: all 250ms;
  background-color:#ff6149;
  color: white;
}

.ingredient-select {
  width: clamp(75px, 50vw, 120px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.625rem auto;
  transition: all 250ms;
  background-color:#ff6149;
  color: white;
}

.ingredient-btn {
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  color:#c53939;
  margin-left: 10px;
}

.ingredient-btn:hover {
  background-color: #922a2a;
  color: white;
  box-shadow: 6px 3px 18px -3px rgba(0,0,0,0.71);
  -webkit-box-shadow: 6px 3px 18px -3px rgba(0,0,0,0.71);
  -moz-box-shadow: 6px 3px 18px -3px rgba(0,0,0,0.71);
}

.dish-image {
  margin-left: 30px;
}
