body {
  background-color: #37200b;
  color: white;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

.sidebar .close-button {
  position: absolute;
  top: 0;
  right: 1px;
  font-size: 36px;
}

.sidebar .close-button:hover {
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

span {
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
  color: white;
  z-index: 2;
}

#main-body {
  transition: margin-left .5s;
  margin-left: 250px;
}
