<%- include('../partials/header') %>

<section id="new-ingredient-container">
    <% ingredients.forEach(function(i) { %>
        <article class="new-ingredient"><%= p.ingredientList %></article>
    <% }); %>
</section>

<%- include('../partials/footer') %>
